GH_TOKEN=example-changeme
FOREMAN_AGENT_GH_TOKEN=example-changeme
CLAUDE_CODE_OAUTH_TOKEN=example-changeme
FOREMAN_DEEPSEEK_API_KEY=example-changeme
AGENT_DECK_TELEGRAM_KEY=example-changeme
FOREMAN_KIMI_API_KEY=example-changeme
FOREMAN_GLM_API_KEY=example-changeme
FOREMAN_CODEX_MODEL=gpt-5.6-sol
